*
{
    margin: 0;
    padding: 0;

}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(xenoblade_chronicles_x_4k-HD.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.main-nav
{
       float: right;
       list-style: none;
       margin-top: 30;

            
}

.main-nav li
{
        display: inline-block;

}

.main-nav li a
{
        color: white;
        text-decoration: none; 
        padding: 5px 20px;
        font-family: "Roboto", sans-serif;
        font-size: 15px;



}

.main-nav li.active a{
       border: 1px solid white;

}

.main-nav li a:hover
{
       border: 1px solid white;


}

.logo img
{
    width:150px;
    height: auto;
    float: left;
}

body
{
   font-family: monospace;
}

.hero{
    position: absolute;
    width: 1200px;
    margin-left: 0;
    margin-top: 0;
}
h1
{
     color: white;
     text-tranform: uppercase;
     font-size: 70px;
     text-align: center;
     margin-top: 275px;


}

.button
{
     margin-top: 30px;
     margin-left: 450px;

}

.btn
{
   border: 1px solid white;
   padding: 10px 30px;
   color: white;
   text-decoration: none;
   margin-right: 5px;
   font-size: 13px;
   text-transfer: uppercase;

}

.btn-one
{
   background-color: aqua;
   font-family: "Roboto", sans-serif;
}
.btn-two
{
   font-family: "Roboto", sans-serif;

}

.btn-two:hover
{
   background-color: aqua;
   transition: all 0.5s easw-in;

}




















